* {
  margin: 0 !important;
}

body {
  background: url(image/bgImage.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-section {
  display: flex;
  justify-content: center;
}
.form-section .form {
  text-align: center;
  margin: 45px auto !important;
}
.label {
  font-size: 20px;
}
#input {
  padding: 15px;
  border-radius: 15px;
  border: 0;
  margin: 25px auto !important;
  width: 250px;
}
#input:focus {
  box-shadow: 0 0 25px black;
}
.title {
  text-align: center;
  color: orange;
}
